<div class="kiosk-start">
  <div class="kiosk-logos" aria-hidden="true">
    <span class="logo-theme">
      <img
        class="logo-dunkel"
        src="/static/logos/en-konstruktion-dunkel.svg"
        alt=""
      />
      <img
        class="logo-hell"
        src="/static/logos/en-konstruktion-hell.svg"
        alt=""
      />
    </span>
    <span class="logo-theme">
      <img
        class="logo-dunkel"
        src="/static/logos/minervatec-dunkel.svg"
        alt=""
      />
      <img class="logo-hell" src="/static/logos/minervatec-hell.svg" alt="" />
    </span>
  </div>
  <h1 class="kiosk-titel">Bekleidungsausgabe</h1>
  <div class="kiosk-symbol">📡</div>
  <div class="kiosk-hinweis">Bitte Chip an den Leser halten</div>
</div>
